@font-face {
  font-family: 'Lato';

  src: url('../fonts/Lato-Light.woff2') format('woff2'),
    /* Modern Browsers */
    url('../fonts/Lato-Light.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/Lato-Light.ttf') format('truetype');
  /* Safari, Android, iOS */
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.woff2') format('woff2'),
    /* Modern Browsers */
    url('../fonts/Lato-Regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/Lato-Regular.ttf') format('truetype');
  /* Safari, Android, iOS */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Semibold.woff2') format('woff2'),
    /* Modern Browsers */
    url('../fonts/Lato-Semibold.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/Lato-Semibold.ttf') format('truetype');
  /* Safari, Android, iOS */
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.woff2') format('woff2'),
    /* Modern Browsers */
    url('../fonts/Lato-Bold.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/Lato-Bold.ttf') format('truetype');
  /* Safari, Android, iOS */
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SegoeUI-Regular';
  src: url('../fonts/SegoeUI-Regular.woff2') format('woff2'),
    /* Modern Browsers */
    url('../fonts/SegoeUI-Regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/SegoeUI-Regular.ttf') format('truetype');
  /* Safari, Android, iOS */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaRegular.woff2') format('woff2'),
    /* Modern Browsers */
    url('../fonts/HelveticaRegular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/HelveticaRegular.ttf') format('truetype');
  /* Safari, Android, iOS */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}