@import 'vars';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.container, .main-wrapper {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.container-flex {
  display: flex;
}

.left-column {
  margin-right: 70px;
}

.main-wrapper {
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  font-size: 16px;
  font-family: Lato, sans-serif;
  font-weight: 400;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.jq-ry-container {
  padding: 0;
}

.main-btn {
  font-weight: 700;
  background-color: $color;
  border: none;
  color: $white;
  transition: all .2s;
  cursor: pointer;
  &:hover {
    background-color: darken($color, 10%);
  }
}

.title {
  color: $color;
  line-height: 36px;
  font-size: 30px;
}

.item {
  max-width: 378px;
  border: solid 1px #e0e0e0;
  position: relative;
    &::after {
      display: none;
      content: '';
      position: absolute;
      z-index: 500;
      background-image: url(../images/section-img/arrow-right.svg);
      background-repeat: no-repeat;
      width: 15px;
      height: 23px;
      bottom: 37px;
      right: 20px;
      cursor: pointer;
    }
  &__inner, .product__text {
    padding: 18px 22px 13px 22px;
  }
  &__img {
    max-width: 100%;
    min-height: 302px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title {
    color: #757575;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
  &__descr {
    line-height: 21px;
  }
  &__price {
    font-family: $SegoeUi;
    line-height: 24px;
    color: $color;
  }
  &--big {
    max-width: 610px !important;
  }
}

.breadcrums {
  padding: 25px 0;
  font-family: 'HelveticaRegular', sans-serif;
  font-size: 14px;
  &__item {
    display: flex;
  }
  &__item-list {
    padding-right: 20px;
    margin-right: 13px;
    position: relative;
    &:last-child {
      margin-right: 0;
      padding-right: 0;
    }
    &::after {
      position: absolute;
      content: '';
      background-image: url(../images/section-img/caret-right-solid.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 15px;
      height: 15px;
      right: -8px;
      top: 1px;
    }
    &:last-child::after {
      content: none;
      padding: 0;
      margin: 0;
    }
  }
}

.left-column {
  width: 290px;
}

.aside-page {
  &:not(:first-child) {
    margin-top: 30px;
  }
}

.active {
  height: 0;
  overflow: hidden;
}

//CustomScroll
.mCSB_scrollTools {
  right: 2px;
}
.mCSB_scrollTools .mCSB_draggerRail {
  width: 8px;
  background-color:rgba( #C8C8C8, .2);
}

.mCSB_dragger {
  width: 8px !important;
  background-color: #c8c8c8;
  border-radius: 15px;
  right: 4px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: transparent;
}

.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background-color: transparent !important;
}